<a href="https://colab.research.google.com/github/thuc-github/MIS710-T12023/blob/main/A1/MIS710%20A1%20Template%20T1%202023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To Fill in the missing data using mean because it is numerical type if it were to be categorical we would have used mode
records['AGE_65YRS_OVER_PCNT'].fillna(records['AGE_65YRS_OVER_PCNT'].mean(),inplace=True)
records['Lq_Licenses'].fillna(records['Lq_Licenses'].mean(),inplace=True)

In [ ]:
#getting the output after substitution of the values
print(records.isnull().sum())

ID                                 0
EZI_ROAD_NAME                      0
ROAD_NAME                          0
ROAD_TYPE                          0
AGE_LESS_THAN_15YRS_PCNT           0
AGE_15_24YRS_PCNT                  0
AGE_25_44YRS_PCNT                  0
AGE_45_64YRS_PCNT                  0
AGE_18YRS_OVER_PCNT                0
AGE_65YRS_OVER_PCNT                0
SEO_PERSONS_PCNT                   0
FC_COUPLE_NO_CHILDREN_PCNT         0
FC_COUPLE_WITH_CHILDREN_PCNT       0
FC_SINGLE_PARENT                   0
CARS_ZERO_HH_PCNT                  0
CARS_ONE_HH_PCNT                   0
CARS_TWO_OR_MORE_HH_PCNT           0
DWELLING_SEP_HOUSE_PCNT            0
DWELLING_SEMID_RO_OR_TCE_H_TH_P    0
DWELLING_FLAT_UNIT_APART_PCNT      0
OCCUPATION_WHITE_COLLAR_PCNT       0
OCCUPATION_BLUE_COLLAR_PCNT        0
SEIFA                              0
Commercial%                        0
Industrial%                        0
Residential%                       0
Parkland%                          0
Primary_Production%                0
Lq_Licenses                        0
Intersection                       0
Supermarket                        0
primary_school                     0
secondary_school                   0
km_post                            0
traffic_signal                     0
Blackspot                          0
dtype: int64

In [ ]:
#exploring the variables, Road type feature has 6 categories
records.ROAD_TYPE.value_counts()

ROAD       3400
STREET     1324
DRIVE       295
HIGHWAY     180
WAY          77
FREEWAY      50
Name: ROAD_TYPE, dtype: int64

In [ ]:
#intersection feature has 2 categories
records.Intersection.value_counts()

non-Intersection    4659
Intersection         667
Name: Intersection, dtype: int64